/*---顶部导航----------------------------*/	

#toptb_nav { background: url("{STYLEIMGDIR}/top_bg.gif") repeat-x 0 0 #F0F0F0; height: 36px;}
#toptb_nav .nbg { float: left; }
#toptb_nav .nbg a { color: #333333;  float: left; height: 20px; line-height: 20px; padding: 8px 5px; }
#toptb_nav .fastlg { float: right; line-height: normal; padding-top: 6px; }

/*---------导航-----------------------------*/

/*---注册 快速登录----------------------------*/
#um {  float: right; line-height: normal; padding-right: 40px; padding-top: 0; }
#um p { margin-top: 8px; }
#um .avt { margin-right: -40px; }
#um .avt img { height:28px; width: 28px; }

.sipt_field { background-color: #FFFFFF; border: 1px solid #CCCCCC; color: #999999; display: block; float: left; height: 22px; margin-right: 5px; overflow: hidden; width: 176px; }
.sipt_field label { display: block; height: 17px; margin: 3px 3px 2px 0; overflow: hidden; padding-left: 0; text-align: center; width: 40px; }
.ie8 .sipt_field label, .ie7 .sipt_field label { margin-top: 5px; }
.passw {  width: 155px; }

#user_bar { background: url("{STYLEIMGDIR}/mylogin.gif") no-repeat -8px 1px; display: block; float: right; overflow: hidden; padding-left: 23px; }
#user_bar div{border-radius: 8px 8px 8px 8px;-moz-border-radius: 8px 8px 8px 8px;-webkit-border-radius: 8px 8px 8px 8px;}
#user_bar .sipt_field .px { background: none; border-width: 0; color: #999999 !important; display: block; height: 17px; margin: 3px 0 2px; overflow: hidden; padding: 0; width: 102px; }
#user_bar .no0 { margin-right: 0; }
#user_bar .pn { background: #FFFFFF;border: 1px solid #CCCCCC; box-shadow: 0 0 0 #E5E5E5; cursor: pointer; float: left; height: 22px; line-height: 22px; margin: 0 5px 0 0; overflow: hidden; padding: 0; vertical-align: middle; }
#user_bar .pn em { font-weight: 700; line-height: 21px; padding: 0 15px; }
#user_bar .pn em a { vertical-align: top; }
#user_bar .pn { height: 24px; line-height: 24px; }
#toptb_nav .log_reg { display: block; float: right; height: 24px; margin-right: 10px; overflow: hidden; width: 122px; }
#toptb_nav .log_reg #weibo { background: url("{STYLEIMGDIR}/weibo_bg.png") no-repeat 100% 0; display: block; height: 24px; line-height: 24px; padding: 0 22px 0 5px; text-align: left; width: 95px; }
#toptb_nav .log_reg #weibo img { float: left; margin-right: 5px; margin-top: 4px;}
#forgotpw { display: block; height: 24px; margin-right: 5px; overflow: hidden; }
#forgotpw_menu { border-color: #CCCCCC; margin-top: -1px; padding: 10px; width: 135px; }
#forgotpw_menu .rfms .pc { padding: 0; vertical-align: middle; }
#weibo_menu { background: none repeat scroll 0 0 #FEFEFE;border: 1px solid #D8D9DA;margin-top: -1px;padding: 5px; width: 110px;}
/*----------- 通用的区域块 ------------*/
	.bm, .bn { margin-bottom: 10px; }
		.bm { border: 1px solid {COMMONBORDER}; background: {WRAPBG};border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px; }
			.bm_c { padding: 10px; }
		.drag {}
		.bm_h .o { float: right; width: 30px; }
			.bm_h .o img { float: right; margin-top: 8px; cursor: pointer; }
		.bm_h .i { padding-left: 10px; }
		.bm_h .pn { margin-top: 4px; }
		.bm_h { padding: 0 10px; height: 31px; border-top: 1px solid #FFF; border-bottom: 0px solid {CONTENTSEPARATE}; background:#EBF6FC; line-height: 31px; white-space: nowrap; overflow: hidden;border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px; }
		.bmw { border: 0px solid {COMMONBORDER};background:url("{STYLEIMGDIR}/titlebg2.png") bottom no-repeat; }
			.bmw .bm_h { border-top-color: {WRAPBG}; border-right: 1px solid {WRAPBG}; border-bottom-color: {CONTENTSEPARATE}; border-left: 1px solid {WRAPBG}; background: url("{STYLEIMGDIR}/titlebg.png") no-repeat; }
				.bmw .bm_h a { margin-left:20px; color: #FFFFFF;}
		.bml .bm_h { padding-top: 5px; border: none; background: transparent; }
		.bml .bm_c { padding-top: 0; }
		.bmn { padding: 7px 10px; border-color: {SPECIALBORDER}; background: {SPECIALBG}; }

		.fl { border: 0px solid {COMMONBORDER};}
			.fl .bm_h { {TITLEBGCODE}; }
		.fl .bm_c, #online .bm_c, .lk .bm_c { padding-top: 0; padding-bottom: 0; }
	.bm2 .bm2_b { float: left; width: 49%; border: 1px solid {COMMONBORDER}; }
		.bm2 .bm2_b_y { float: right; }
	.bw0 { background: transparent; }
	    .tieshu {background: #FF9900;border-radius: 4px 4px 4px 4px;color: #FFFFFF;margin-left: 10px;padding: 1px 5px;}
		
/*---------------- 页面主区域------------------ */
.mn { overflow: hidden;}
.jintie{background: none repeat scroll 0 0 #FF9900;border-radius: 4px 4px 4px 4px; color: #FFFFFF; margin-left: 10px; padding: 1px 5px;}

/*-------------头部区域-------------------*/
#qmenu { float: right; display: inline; margin: 10px 8px 0; padding-right: 10px; width: 103px; height: 24px; background: url({IMGDIR}/qmenu.png) no-repeat 0 0; line-height: 24px; text-align: center; color: {HIGHLIGHTLINK}; font-weight: 700; overflow: hidden; }
					#qmenu:hover { text-decoration: none; }
					#qmenu.a { position: relative; z-index: 302; background-position: 0 -27px; }
				#qmenu_menu { margin-top: -2px; padding: 20px 5px 10px; width: 610px; border-color: #DCE4EB; }
					#qmenu_menu ul.nav li { float: left; }
						.ie6 #qmenu_menu ul.nav li { clear: none !important; width: auto !important; }
					#qmenu_menu ul.nav a { margin-bottom: 10px; padding: 47px 0 0; width: 60px; border: none; border-radius: 4px; background: url({IMGDIR}/noicon.gif) no-repeat 50% 5px; text-align: center; }
						#qmenu_menu ul.nav a:hover { background-color: {SPECIALBG}; color: {HIGHLIGHTLINK}; text-shadow: none; }

/*-----------头部资讯--------------------*/
.topnew{margin: 5px 0;}
.topnew div {border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;}
.topnew li{list-style:none;}
.topnew_l{ float: left;height: 420px;overflow: hidden;width: 280px;}
.topnew_m{background: none repeat scroll 0 0 #FFFFFF; float: left;height: 316px; margin: 0 8px;width: 410px;}
.topnew_m h1 {height: 40px;line-height: 50px;margin: 0 auto;overflow: hidden;text-align: center;width: 320px;}
.topnew_m h1 a {color: #FE6700; font-size: 16px;}
.topnew_m ul {color: #3C3C3C; display: inline-block; line-height: 24px;padding: 8px;text-indent: 24px;}
.topnew_m a {color: #075BB1;}
.topnew_mt{height: 316px;}
.topnew_mt ul {display: inline-block;padding: 6px 0 7px;width: 365px;}
.topnew_mt ul li { background: url("template/zzhelps_9Fresh/images/A002.gif") no-repeat scroll 0 14px transparent;height: 28px;line-height: 28px;overflow: hidden;}
.topnew_mt ul li a {color: #565656; font-size: 14px;margin-left:-8px;}
.topnew_mt ul li span {float: right;}
.topnew_mt ul li span a {color: #B6B6B6; font-size: 12px;}
.topnew_r{float: right;height: 316px;width: 254px;}
.topnew_flash{background: none repeat scroll 0 0 #FFFFFF;height: 200px;margin-bottom: 8px;overflow: hidden;width: 298px;
}
.index-holl { padding-left: 4px;padding-top: 12px;}
.index-holl a { background-image: url("{STYLEIMGDIR}/index-bg.png");background-position: -0px -0px;display: inline-block;height: 30px;line-height: 30px;margin-bottom: 13px;margin-left: 12px;text-align: center;text-decoration: none;width: 100px;}
.index-holl a:hover {background-image: url("{STYLEIMGDIR}/index-bg.png");background-position: -100px -0px;color: #FFFFFF;text-decoration: none;}
.a-block{ background-image: url("{STYLEIMGDIR}/index_t.png");color: #FFFFFF;display: inline-block;height: 22px;line-height: 22px;text-align: center;text-decoration: none;width: 60px;}
/* 图片列表 */
.ml {}
	.ml li { float: left; padding: 0 5px 5px; text-align: center; overflow: hidden; }
		.ml img { display: block; margin: 0 auto; }
		.ml p, .ml span { display: block; width: 100%; height: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
		.ml span, .ml span a { color: {LIGHTTEXT}; }
	.mls li { padding: 0 0 5px; width: 66px; }
		.mls .avt { display: block; margin: 0 auto; width: 54px; }
		.mls img { width: 48px; height: 48px; }
		.mls p { margin-top: 5px; }
	.mlm li { padding: 0 0 5px; width: 150px; }
		.mlm img { width: 120px; height: 120px; }
	.mla li { width: 140px; height: 224px; }
	.mla1 li { height: 150px; }
		.mla .c { margin: 0 auto; width: 136px; height: 150px; background: url({IMGDIR}/gb.gif) no-repeat 0 0; text-align: left; }
			.mla .a { background-position: 0 100%; }
			.mla .c a { display: block; padding: 14px 4px 3px 8px; width: 120px; height: 120px; overflow: hidden; }
		.mla img { max-width: 120px; max-height: 120px; _width: expression(this.width > 120 && this.width>=this.height ? 120 : true); _height: expression(this.height > 120 && this.width<=this.height ? 120 : true); }
	.mlp li { width: 140px; height: 140px; }
	.mlp .d { padding: 0 0 5px; width: 150px; height: 180px; }
		.mlp img { padding: 2px; max-width: 120px; max-height: 120px; border: 1px solid #CCC; background: {WRAPBG}; }
		* html .mlp img { width: expression(this.width > 120 && this.width>=this.height ? 120 : true); height: expression(this.height > 120 && this.width<=this.height ? 120 : true); }

/*-------------- 登录和注册--------------- */

.rfm { margin: 0 auto; width: 760px; border-bottom: 1px dotted {COMMONBORDER}; }
		.rfm a { color: {HIGHLIGHTLINK}; }
		.rfm .rq {}
		.rfm th, .rfm td { padding: 10px 2px; vertical-align: top; line-height: 24px; }
			.rfm .tipwide { padding-top: 0; }
		.rfm th { padding-right: 10px; width: 10em; text-align: right; }
		.rfm .px { width: 220px; }
			.rfm .px:focus { border-color: {HIGHLIGHTLINK}; background: #FFF; }
		.rfm .p_tip { position: absolute; z-index: 2; display: none; padding-left: 10px; width: 390px; background: {WRAPBG}; color: {MIDTEXT}; font-style: normal; }
		.rfm .p_chk { position: absolute; z-index: 1; padding-left: 10px; width: 390px; color: red; font-weight: 700; font-family: {FONT}; }
		.rfm #emailmore { position: absolute; }
		.p_right { background: url({IMGDIR}/check_right.gif) no-repeat 10px 12px; width: 30px; }
		#returnmessage4 { display: none; padding: 10px 0; border-bottom: 1px solid {COMMONBORDER}; background: #FFE; text-align: center; font-weight: 700; }
		#returnmessage4.onerror { display: block; }
		.rfm .l { margin: 0; }
	.blr .c { padding: 0 10px 10px; }
	.login_slct a { margin-right: -8px; padding-right: 16px; background: url({IMGDIR}/arrwd.gif) no-repeat 100% 50%; }
	.fwin .rfm, .nfl .f_c .rfm { width: 500px; }
	.fwin .rfm th, .fwin .rfm td, .nfl .f_c .rfm th, .nfl .f_c .rfm td { padding: 6px 2px; }
	.fwin .loginb button { margin-left: 11.3em; }
	.nfl .f_c .loginb button { margin-left: 12em; }
	
/*-------------- 帖子列表页面-------------- */
.avatarbox{ float:left;border:1px solid #CCC;padding:1px;margin-left: 8px;margin-right:8px;}
.avatarbox-info{ margin-left:58px;position:static;}
.avatarbox-info .lastpost{ position:absolute;top:2px;right:20px;color:#CCC;_right:78px}
.avatarbox img{width:35px;}
.sub-tit{ padding:2px 0 4px}
.sub-infos,.sub-infos a{ color:#999; font-size:12px;}
.sub-infos span{ margin:0 2px}

/*post top*/
.xm_p_tp {margin-bottom: 30px;*margin-top:-20px;}
.xm_p_tp .y{*margin-top:10px;}
.xm_p_tp .xm_avt {float: left;margin-right: 15px;border:none; }
.xm_p_tp h1 {line-height: 24px;font-size: 22px;color: #000; margin-bottom:8px;}
.xm_p_tp h1 #thread_subject {color: #000;}
.xm_p_tp .replies {line-height: 18px;margin-left: 15px;margin-right: 0;padding-left: 20px;background: url({STYLEIMGDIR}/icon_threadlist.png) 0 -54px no-repeat;color: #666D75;font-size: 14px;}
.xm_p_tp .views {line-height: 18px;margin-left: 15px;margin-right: 0;padding-left: 20px;background: url({STYLEIMGDIR}/icon_threadlist.png) 0 -18px no-repeat;color: #666D75;font-size: 14px;}
.xm_p_tp .act_btn {display: inline-block;height: 22px;line-height: 22px;padding: 0 4px;border: 1px solid #d4d4d4;border-radius: 4px;background: #f9f9f9;background: -webkit-linear-gradient(top, #f9f9f9, #ececec);background: -moz-linear-gradient(top, #f9f9f9, #ececec);background: -ms-linear-gradient(top, #f9f9f9, #ececec);background: -o-linear-gradient(top, #f9f9f9, #ececec);background: linear-gradient(top, #f9f9f9, #ececec);}
/*---------------------相关贴子----------------*/
#relate_subject{margin-top:10px;}
.rs_head h3{color: #369;font-family: Tahoma,'Microsoft Yahei','Simsun';}
/*------------------设置签名--------------*/
.sign{position: relative;}
.sw-sign{background-color: #fff;padding: 0 15px;position: absolute;left: 430px;top: 3px;}
.sw-sign a,.sw-sign a:visited{color:#d3d3d3;}
.sw-sign a:hover{color:#333;}
/*------------------猜你喜欢----------------*/
.sw-guess{width:750px;height:140px;margin:15px auto;position: relative;}
.sw-guess h3{background: url({STYLEIMGDIR}/sw-guess.png) no-repeat;background-position: 0 0;width: 46px;height: 108px;text-indent: -2000em;position: absolute;top: 0;left: 5px;}
.sw-guess ul{width:670px;background-color:#EBF4FB;border:1px solid #C9E2F1;padding:15px 15px 15px 65px;}
.sw-guess ul li{height: 22px;line-height: 22px;float:left;width: 50%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}	
	
/* ---------------------瀑布流布局----------------------- */
.waterfall { position: relative; margin-top: 15px; }
	.waterfall li { margin: 0 10px 10px 0; padding: 0 0 3px; text-align: left; border-width: 1px 0 0; border-top: 1px solid #EAEAEA; background: url({IMGDIR}/bg_waterfall.png) no-repeat 100% 100%; }
	.waterfall .c, .waterfall h3 { padding: 10px; border: solid #EAEAEA; border-width: 0 1px; background-color: #F8F8F8; }
		.waterfall .c { overflow: hidden; padding-bottom: 0; max-height: 800px; }
		.waterfall .c .nopic { display: block; background:{WRAPBG} url({IMGDIR}/nophototiny.png) no-repeat 50% 50%; cursor: pointer; }
	.waterfall .auth { padding: 0 10px 10px; border-width: 0 1px 1px; border-style: solid; border-color: transparent #EAEAEA #B9B9B9; background: #F8F8F8; }
		.waterfall .auth img { display: inline-block; margin: 0 1px; }
		
/*-------------底部区域------------------------*/
.link_top{background-image:url("{STYLEIMGDIR}/about_link.jpg");background-repeat:repeat;  height: 40px;margin-top: 5px;}
.z_footer{background: url("{STYLEIMGDIR}/ft_bg.png") repeat-x scroll 0 0 transparent; height:100px;}
.z_footer a{color:#FFF;}



/*------------------------扩展css-------------------------*/

/*导航*/
.big_nav{ width:100%; height:60px; background:url({STYLEIMGDIR}/topnav_bg.gif) repeat-x; margin:0 auto; color:#fff;}
.big_nav a{ color:#fff;}
.big_nav .bignav_960{ width:960px; height:60px;margin:0 auto;}
.bignav_960 .web_index{ width:40px; height:25px; float:left;background:url(index_bg.png) no-repeat; line-height:25px; margin-top:18px; font-size:16px; text-align:center;}
.bignav_960 .line{ width:3px; height:50px; float:left; background:url(line.gif) no-repeat; margin:5px 6px; overflow:hidden;}

.bignav_960 .menu_circle{ width:136px; height:58px;float:left; margin-left:2px;}
.bignav_960 .menu{ width:20px; height:40px; background:url({STYLEIMGDIR}/menu.png) no-repeat; font-size:14px; text-align:center;margin-top:10px; float:left;}
.bignav_960 .menu_small{ width:50px;height:16px; float:left;  margin:9px 0px 0px 8px;}
.bignav_960 .width_190{ width:199px;}
.bignav_960 .width_225{ width:228px;}
.bignav_960 .width_68{ width:68px;}

